//main:../style.less

.contact {
	display: flex;
	background: url(../img/photo.png)right center no-repeat;
	@media @tablet {
		background-size: 375px;
	}
	@media @mobile {
		background-size: 0;
	}
}

.contact_left {
	width: 47%;
	padding: 2rem;

	@media @mobile {
		background-size: 0;
		width: 90%;
	}
}

.contact_info {
	margin: 2rem 0 3rem;
	padding: 0;
	list-style: none;
	font-size: 0.94rem;
	color: @black;
	font-weight: 300;

	@media @mobile {
		margin: 2rem 0 2rem;
	}
}

.contact_info-itm {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
	&:last-child {
		margin-bottom: 0;
	}
	& i {
		margin-right: 1rem;
	}
	& a {
		text-decoration: none;
		color: inherit;
	}
}

