//main:../style.less

.intro {
	background-image: linear-gradient(-45deg, #7c7299 0%, #fff 100%);
	@media @mobile {
		margin-top: 130px;
	}
}

.intro_inner {
	display: flex;
	position: relative;
	//border-bottom: 1px solid @grey;
	background: url("../img/symbols.png")right bottom no-repeat;
	padding: 8rem 0;

	@media @tablet {
		padding: 2rem 0;
		background-size: 430px auto;
		background: url("/img/revsymb.png")center no-repeat;
	}
	@media @mobile {
		position: inherit;
		padding-top: 2rem;
		padding-bottom: 0;
	}
}

.intro_content {
	width: 50%;

	@media @tablet {
		display: flex;
		flex-direction: column;
		width: auto;
		padding-bottom: 1rem;
	}
	@media @mobile-sm {
		align-items: center;
		width: 100%;
	}
}

.intro_subtitle {
	font-size: 2.13rem;
	font-weight: 300;
	color: fade(@black, 70%);

	@media @tablet {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}
}

.intro_title {
	font-size: 3rem;
	font-weight: 700;
	color: @black;

	@media @tablet {
		font-size: 2rem;
		margin-bottom: 1rem;
	}
}

.intro_text {
	font-size: 1.2rem;
	font-weight: normal;
	color: fade(@black, 70%);
	margin-bottom: 1.6rem;
}

.intro_photo {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;

	@media @tablet {
		width: 350px;
	}
	@media @mobile {
		width: 285px;
		display: block;
		height: auto;
		position: inherit;
		z-index: inherit;
	}
	@media @mobile-sm {
		display: none;
	}
}