//main:../style.less

.nav {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	align-items: center;

	@media @mobile {
		width: 100%;
		height: auto;
		padding: 1rem;
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		z-index: 1000;
		background-color: #fff;
		box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
		text-align: center;
		&.show {
			display: flex;
		}
	}
}

.nav_link,
.footer_link {
	position: relative;
	margin-left: 2rem;
	font-size: 0.93rem;
	color: @black;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	&:first-child {
		margin: 0;
	}

	&:after {
		content:"";
		width:0%;
		height: 2px;
		background-color: @black;
		position: absolute;
		bottom: -5px;
		left: 0;
		z-index: 1;
		transition: width .2s linear;
	}
	
	&:hover:not(.nav_link--btn, .footer_link--btn) {
	 &:after {
		 width: 100%;
	 }
	}

	&--btn {
		padding: 0.66rem 2rem;
		border: 2px solid @black;
		border-radius: 20px;
		transition: background-color .5s linear,
		color .2s linear;
		&:hover {
			background-color: @black;
			color: white;
		}
	}

	@media @mobile {
		width: 100%;
		margin-left: 0;
		padding: .5rem 1rem;
	}
	@media @mobile-sm {
		margin-left: 1rem;
		padding: .5rem .1rem;
	}
}

.footer_link {
	color: @grey-light;
	border-color: @grey-light;
	&:after {
		background-color: @grey-light;
	}
}

