//main:../style.less

.social {
	display: flex;
	font-size: 2.7rem;
	margin-bottom: 42px;

	@media @tablet {
		font-size: 2.5rem;
		margin-bottom: 1rem;
	}
}

.social_link {
	margin-right: 2rem;
	transition: transform .2s linear;
	text-decoration: none;

	&:hover {
		transform: translateY(-.3rem);
	}

	@media @tablet {
		margin-right: 1rem;
	}
}
